
<div data-ng-controller="gameCtrl as ctrl">
    <button ng-click="ctrl.evolve()">Evolve!</button>
    <button ng-click="ctrl.toggleRun()">{{ctrl.run? "Stop" : "Start"}}</button>
    <label for="interval">interval:
        <input type="number" id="interval" ng-model="ctrl.interval">
    </label>
    <br>
    <label for="displayXmax">: displayXmax;
        <input type="number" id="displayXmax" ng-model="ctrl.displayXmax">
    </label>
    <label for="displayXmin">: displayXmin;
        <input type="number" id="displayXmin" ng-model="ctrl.displayXmin">
    </label>
    <br>
    <label for="displayYmax">displayYmax:
        <input type="number" id="displayYmax" ng-model="ctrl.displayYmax">
    </label>
    <label for="displayYmin">displayYmin:
        <input type="number" id="displayYmin" ng-model="ctrl.displayYmin">
    </label>
    <br>
    <label for="load">load:
        <select id="load" data-ng-model="ctrl.selectedFile">
            <option data-ng-repeat="loadable in ctrl.loadables" value="{{loadable}}">{{loadable}}</option>
        </select>
    </label>
    <button data-ng-click="ctrl.load()">Load</button>
    <table align="center" id="board">
        <tbody>
            <tr>
                <td class="top-edge"></td>
                <td class="top-edge" data-ng-repeat="num in ctrl.getHeader()">
                    <div>{{num}}</div>
                </td>
            </tr>
            <tr data-ng-repeat="row in ctrl.table track by $index">
                <td class="side-edge">{{$index-ctrl.offsetX}}</td>
                <td class="cell" data-ng-repeat="cell in row track by $index">
                    <div data-ng-click="ctrl.toggleCell(cell.originalX, cell.originalY)">
                        {{cell.state?"X":"_"}}
                        <!--({{cell.originalX}}:{{cell.originalY}})-->
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
